extends header.pug
block content
    .container
        .card
            .card-header Active Admin Calls
            .card-body.row
                .col.border.mr-1.mt-2
                    .active-calls
                        .card.m-1
                            .card-body.p-2
                                .row.flex-nowrap
                                    .col-auto 1122 Police
                                    .col tarun nate
                                    .col-auto K
                        .card.m-1
                            .card-body.p-2
                                .row.flex-nowrap
                                    .col-auto K
                                    .col m
                                    .col-auto K
                        .card.m-1
                            .card-body.p-2
                                .row.flex-nowrap
                                    .col-auto K
                                    .col m
                                    .col-auto K
                .col.border.mt-2
                    .row.no-gutters
                        .col
                            .all-lines-container  
                                .card.m-1
                                    .card-body.p-2
                                        .row.no-gutters
                                            .col-auto K
                                            .col m
                                            .col-auto K
                                .card.m-1
                                    .card-body.p-2
                                        .row.no-gutters
                                            .col-auto K
                                            .col m
                                            .col-auto K
                                .card.m-1
                                    .card-body.p-2
                                        .row.no-gutters
                                            .col-auto K
                                            .col m
                                            .col-auto K
                    .row
                        .col.line-menu.p-0
                            .btn-group(role="group").w-100
                                button.btn.btn-sm.btn-primary(type="button") All Admin Lines
                                button.btn.btn-sm.btn-primary(type="button") Ring Downs
                                button.btn.btn-sm.btn-primary(type="button") Elevators